.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 50px 100px;
  background-color: var(--backgroud-color-first);
  background: linear-gradient(var(--backgroud-color-first), rgb(44, 44, 44));
}

.imprintContent {
  text-align: center;
}

.imprintImage {
  max-width: 80%;
  height: auto;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
